@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
*{
    font-family: 'Oxygen',sans-serif;
}
nav{
    background: #4840DE;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw-1000px)/2);
    z-index:10;
}
